body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #5a6384;
  color: #333;
}

header {
  background-color: #6db1db;
  color: white;
  text-align: center;
  padding: 20px;
}

section {
  background-color: #296f8d;
  color: #2d3436; 
  font-size: 1.25em;
  padding: 20px;
}
